<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{locationName}} Beer List</ion-title>  
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngIf="breweryBeers.length">
    <ion-card>
      <ion-item>
        <p>Beer List</p>
        <p item-right>{{breweryBeers.length}} Beers</p>
      </ion-item>
        <div *ngFor="let beer of breweryBeers; let i=index" (click)="getBeerDetail(beer)">
	      	<ion-item>
		      	<ion-thumbnail item-left>
		      		<img *ngIf="beer.labels.icon!='zzz'" [src]="beer.labels.medium" />
		      	</ion-thumbnail>		      	
			    <h2>{{beer.nameDisplay}}</h2>
			     <p>{{beer?.style.shortName}}</p>
			     <p *ngIf="beer.abv">{{beer?.abv}}% ABV</p>
			     <p *ngIf="beer.available">Available {{beer.available.name}}</p>
			     <ion-icon name="arrow-forward" item-right></ion-icon>
		     </ion-item>
      	</div>      	
    </ion-card>
  </div>
  <div>
    <ion-card>
      <ion-item>
        <p item-left>Beer List</p>
      </ion-item>      
      <ion-item  *ngFor="let beer of localBeers | async" (click)="getBeerDetail(beer)">
        <ion-thumbnail item-left>
          <img *ngIf="beer.img!=''" [src]="beer.img" />
        </ion-thumbnail>		      	
        <h2>{{beer.name}}</h2>
        <p *ngIf="beer.brewery">{{beer.brewery}}</p>
        <p>{{beer.style}}</p>
        <p>Checked-in {{timeDiff(beer.beerUpdated)}}</p>        
        <ion-icon name="arrow-forward" item-right></ion-icon>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
