page-location-details-more {

	ul {
	  padding: 0px;

	  &.rating li {
	    padding: 5px 10px;
	    background: none;
	    color: #ffb400;

	    ion-icon {
	      font-size: 25px;
	    }
	  }
	}
	
	.hours {
		padding-top:10px;
	}

	.hours-head {
		font-size:20px;
		padding-top: 20px;
	}

  .background-home {
	  background-repeat: no-repeat;
	  background-size: cover;
	  background-color: #ffffff;
	  background-position: right 0px;
  }

  .loc-area {
    height: 225px;

    #header {
      font-size: 22px;
	  color: #ffffff;
	  text-shadow: black 0.1em 0.1em 0.2em;
	  text-align:center;
    }
    #ptype {
	  color: #ffffff;
	  text-shadow: black 0.1em 0.1em 0.2em;
	  text-align:center;    
    }
  }

  .loc-area #loc-rating {
    text-align:center;
  }

  .loc-area h1,p {
  
  }

  .loc-area div {
    //background-color : #000000;
    background: rgba(0, 0, 0, 0.75);
    padding: 10px;
    //filter: alpha(opacity=50);
  }

  .square {
    width: 100% !important;
    padding: 0 0 0 0 !important;

  }	

}
