page-checkin-select-beer {
  ion-input {
    //background-color:#ffffff;
  }

  .white-background {
    background-color: #ffffff;
  }

  .botton-border-item {
     border-bottom: 1px solid #dedede !important;
     padding-bottom:10px;
  } 

}
