page-search-location {

   label {
     display:block;
     font-size: 10px;
   }

   .white-background {
    background-color: #ffffff;
  }

  #map {
    height:100%;
    width:100%;
  }

  ul {
    padding: 0px;
    margin: 5px 0px;

    &.rating li {
      padding: 2px 2px !important;
      background: none;
      color: orange;

      ion-icon {
        font-size: 14px;
      }
    }
  }  
}
