<ion-header>
  <ion-navbar color="primary">
    <ion-toolbar>
    	<ion-searchbar [hidden]="showMap"
    	               (ionInput)="autoLocationSearch($event)" 
    	               placeholder="Place Name"
    	               (ionClear)="autoSearchCancel($event)">
    	</ion-searchbar>
    	<ion-buttons left>
	      <button [hidden]="!showMap" ion-button icon-only (click)="showMarkerKey()">
	        <div>
	        	<ion-icon name="pin"></ion-icon>
	        	<label>Key</label>
	        </div>
	      </button>
    	</ion-buttons>
    	<ion-buttons end>    	
	      <button [hidden]="showMap" ion-button icon-only (click)="showLocalMap()">
	        <div>
	        	<ion-icon name="map"></ion-icon>
	        	<label>Map</label>
	        </div>
	      </button>
	      <button [hidden]="!showMap" ion-button icon-only (click)="showLocalList()">
	        <div>
	        	<ion-icon name="list-box"></ion-icon>
	        	<label>List</label>
	        </div>
	      </button>	      
	      <button [hidden]="showMap" ion-button icon-only (click)="showLocationFilter()">
	        <div>
	        	<ion-icon name="options"></ion-icon>
	        	<label>Filters</label>
	        </div>
	      </button>
    	</ion-buttons>
    </ion-toolbar>
  </ion-navbar>
</ion-header>
<ion-content class="white-background">
<div [hidden]="!predictionsLen || showMap">
  <ion-list>
    <ion-item>
      <p><ion-icon name="search"></ion-icon>&nbsp;Search Results.</p>
    </ion-item>
    <ion-item>
      <button ion-item *ngFor="let result of predictions" (click) = "getLocationDetail(result)">
          <h2 class="loc-name">{{result.structured_formatting.main_text}}</h2>
          <p>{{result.structured_formatting.secondary_text}}</p>
          <ion-icon name="arrow-forward" item-right></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</div>

<div [hidden]="locations==null || predictionsLen || showMap">
  <ion-list>
    <ion-item>
      <p *ngIf="searchType=='nearbysearch'">Sorted by proximity in {{sing.geoCity}}</p>
      <p *ngIf="searchType=='textsearch'">{{fixPlaceType(placeType)}} in {{sing.geoCity}}</p>
    </ion-item>
    <button ion-item *ngFor="let location of locations; let i = index;" (click) = "getLocationDetail(location)">
      <h2 class="loc-name">
      {{ location.name }}
      </h2>
      <h3 *ngIf="location.rating!=null">
        <rating [(ngModel)]="location.rating" readOnly="true" max="5"></rating>
      </h3>
      <h3 *ngIf="location.rating==null">
        No reviews
      </h3>      
      <p>
         {{location.place_types}}
        <span *ngIf="location.price_level">&#8226; {{priceLevel(location.price_level)}}</span>
      </p>
      <p>
         {{ location.vicinity }}&nbsp;
         <span *ngIf="sing.getLocation().geo">&#8226; {{location.distance}} mi</span>
      </p>
      <span *ngIf="location.opening_hours.open_now==1">
        <ion-badge color="secondary">Open</ion-badge>
      </span>
      <span *ngIf="location.opening_hours.open_now==0">
        <ion-badge color="danger">Closed</ion-badge>
      </span>
      <span *ngIf="location.opening_hours.open_now==2">
        <ion-badge color="dark">Call</ion-badge>
      </span>
      <ion-icon name="arrow-forward" item-right></ion-icon>
    </button>
    <ion-infinite-scroll (ionInfinite)="getMoreLocal($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>       
  </ion-list>
</div>

<div [hidden]="!showMap" #map id="map"></div> 
</ion-content>
