page-brewery-detail-more {
	ul {
	  padding: 0px;

	  &.rating li {
	    padding: 5px 10px;
	    background: none;
	    color: #ffb400;

	    ion-icon {
	      font-size: 25px;
	    }
	  }
	}

  .botton-border-item {
     border-bottom: 1px solid #dedede !important;
  }

  .card-head {
     font-size: 20px;
     padding-left: 10px;
  }

  .background-home {
	  background-repeat: no-repeat;
	  background-size: cover;
	  background-color: #ffffff;
	  background-position: right 0px;
  }

  .loc-area {
    height: 225px;

    #header {
      font-size: 22px;
	  color: #ffffff;
	  text-shadow: black 0.1em 0.1em 0.2em;
	  text-align:center;
    }
    #ptype {
	  color: #ffffff;
	  text-shadow: black 0.1em 0.1em 0.2em;
	  text-align:center;    
    }
  }

  .loc-area #loc-rating {
    text-align:center;
  }

  .loc-area div {
	background: rgba(0, 0, 0, 0.50);
	padding: 3px;
  }

  .square {
    width: 100% !important;
    padding: 0 0 0 0 !important;

    .loc-btns {
      height: 6rem !important;
      box-shadow: inherit !important;            
    }

    .border-right {
      border-right: 1px solid #999999;
    }

    .chk-btn {
      box-shadow: inherit !important;
      height: 4.75rem;
    }

    ion-col {
      margin: 0 !important;
    }
  }

}
