<ion-header>
  <ion-navbar color="primary">
    <ion-title>Bender</ion-title>  
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-grid>
			<ion-row>
				<ion-col>
				    <h1>{{location?.name}}</h1>
				    <p>{{location?.place_types}}</p>
				</ion-col>
				<ion-col>
				</ion-col>
			</ion-row>
			<ion-row [hidden]="!locationRating">
				<ion-col>
					<rating [(ngModel)]="locationRating" readOnly="true" max="5"></rating>
				</ion-col>
			</ion-row>
			<ion-row>
    			<ion-col>
    				{{location?.formatted_address}}
    			</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<a ion-button icon-left href="tel:{{location?.international_phone_number}}">
					  <ion-icon name="call"></ion-icon>
					  Call {{location?.formatted_phone_number}}
					</a>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
			     	<button ion-button icon-left (click)='viewMap()'>
	                   <ion-icon name="map"></ion-icon>
	                      View Map
	                </button>
				</ion-col>
			</ion-row>			
			<ion-row [hidden]="locationHours == null">
				<ion-col>
					<p class="hours-head">{{location?.name}} Store Hours</p>
					<p [hidden]="locationOpen">
						<ion-badge color="danger">Currently Closed</ion-badge>
					</p>
					<p [hidden]="!locationOpen">
						<ion-badge color="secondary">Currently Open</ion-badge>
					</p>
					<div class="hours" *ngFor="let hours of locationHours">
						{{hours}}
					</div>
				</ion-col>
			</ion-row>
			<ion-row [hidden]="locationPhoto == null">
				<ion-col>
					<img [src]="locationPhoto">
				</ion-col>
			</ion-row>			
		</ion-grid>
	</ion-card>
	<div *ngIf="breweryBeers.length">
		<div class="card-head">
		  <p><ion-icon name="beer"></ion-icon>&nbsp;Beer List</p>
		</div>	
	  <ion-card>
	    <ion-list>
	      <button ion-item *ngFor="let beer of breweryBeers" (click)="getBeerDetail(beer)">
		      <ion-avatar item-left>
		      	<img [src]="beer.labels.icon" />
		      </ion-avatar>
		      <h2>{{beer.nameDisplay}}</h2>
		      <p>{{beer?.style.shortName}}</p>
		      <ion-icon name="arrow-forward" item-right></ion-icon>
	      </button>
	    </ion-list>
	  </ion-card>
	</div>
	<div [hidden]="locationReviews == null">
		<div class="card-head">
		  <p><ion-icon name="happy"></ion-icon>&nbsp;{{location?.name}} Reviews</p>
		</div>
	    <ion-card *ngFor="let review of locationReviews" >
		  <ion-card-content>
		    {{review?.text}}
		    <div align="right" [hidden]="review.rating == 0">  	
		    	<rating [(ngModel)]="review.rating" readOnly="true" max="5"></rating>
		    </div>
		    <div align="right">
		      <p>{{review.author_name}}</p>
		      <p>{{review.relative_time_description}}</p>
		    </div>
		  </ion-card-content>
	    </ion-card>		
	</div> 
</ion-content>
