page-location-detail {

	ul {
	  padding: 0px;

	  &.rating li {
	    padding: 5px 10px;
	    background: none;
	    color: #ffb400;

	    ion-icon {
	      font-size: 25px;
	    }
	  }
	}

	.hours {
		padding-top:10px;
	}

	.hours-head {
		font-size:20px;
		padding-top: 20px;
	}

	#map {
	    text-align:center;
	    height:300px;
	    width:300px;
	}

    .card-head {
    	font-size: 20px;
    	padding-left: 10px;
    }	
}
