<ion-header>
  <ion-navbar  color="primary">
    <ion-buttons start>
        <button (click)="cancel()">
          <ion-icon name="close"></ion-icon>
        </button>
    </ion-buttons>   
    <ion-title>Bender</ion-title>  
  </ion-navbar>
</ion-header>

<ion-content>

<ion-grid>
  <ion-row>
    <ion-col>
      <div>
        <ion-list>
          <ion-item>
	      <ion-avatar item-right width-20>
	      	<img [src]="beer.labels.icon" />
	      </ion-avatar>
	      </ion-item>
	    </ion-list>
	  </div>
    </ion-col>
    <ion-col width-80>
      <ion-list>
        <ion-item>
    	  <h3>{{beer.name}}</h3>
    	  <p>{{beer?.breweries[0].name}}</p>
    	</ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
    <div *ngFor="let location of locations" align="center" [hidden]="locationsLen > 1">
      <ion-list radio-group>
        <ion-list-header>
          Currently located @ {{location.name}} 
        </ion-list-header>
      </ion-list>
    </div>
    <div align="center" [hidden]="locationsLen == 1">
      <ion-list radio-group>
        <ion-list-header>
          Where are you currently?
        </ion-list-header>
        <ion-item *ngFor="let location of locations; let i = index;">
          <ion-label>{{location.name}}</ion-label>
          <ion-radio value="{{i}}" (click)="selectLocation(i)"></ion-radio>
        </ion-item>
       </ion-list>
    </div>    
    </ion-col>
  </ion-row>  
  <ion-row>
  <ion-col>
    <ion-list>
      <ion-item item-right>
        <ion-grid>
          <ion-row wrap>
            <ion-col><h4>Tell us the cost and earn an extra 5 points.</h4></ion-col>
            <ion-col>
              <div align="right">
                <ion-badge color="secondary">${{price}}</ion-badge>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-range min="100" max="2000" step="25" [(ngModel)]="100*price" (ngModelChange)="(price=priceSiderFormat($event/100))">
          <ion-icon small range-left name="cash"></ion-icon>
          <ion-icon range-right name="cash"></ion-icon>
        </ion-range>
      </ion-item>
    </ion-list>
  </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item item-right>
          <ion-label stacked>Message</ion-label>
          <ion-textarea placeholder="Did you enjoy?  Tell your friends." [(ngModel)]="socialMessage">
            Enjoying an ice cold {{beer.name}} @ {{location}}.
          </ion-textarea>
        </ion-item>
        <ion-item item-right>     
            <button item-right ion-button icon-left (click)="shareOnFacebook()">
              Share on Facebook
            </button>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
    <ion-buttons>
      <div align="center">
         <button ion-button  (click)="tackThisBeer()">Check-in for 10 Points</button>
         <button ion-button (click)="cancel()" color="dark">Close</button>
      </div>
    </ion-buttons>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
